body{
    background-image: url("./img/téléchargement.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 30vh;
}

#objection{
    font-size:10vw;
    margin-bottom: 75vh;

}

#objection:hover{
    cursor:pointer;
    background-color:#FFFFFFBB
}