body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 45vh 45vh 10vh;
    background-image: url(./img/background3.jpg);
    background-size: cover;
    background-position: bottom;
}

#imgLogo {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: -12%;
    
}

#buttonSearch{
    margin-top: 60%;
}

#searchDiv {
    grid-column: 2/4;
    grid-row: 2;
    display: flex;
    height: 10%;
    padding-top: 10%;
    
}

#searchBar {
    width: 75%;
}

#rechercher {
    min-width: 10%;
    
}

img {
    max-width: 75%;
    max-height: 75%;
    position: relative;
    left: -10%;
}

#buttonConnexion {
    text-align: right;
    

}

footer {
    grid-column: 1/4;
    padding-top: 4%;
    

}

#footerDiv {
    text-align: center;
    background-color: #BEC23999;
}
    
button {
    background-color: #BEC23999;
}

